body{
    background-image: url("E21.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-style: bold;
    color: white;
}
.menu {
    text-align: center;
    color: white;
}
a{
    color: white;
}